/* Estilos para los contenedores del header */
.header-container {
    width: 100%;
    height: 790px;
    
    display: flex;
    flex-direction: column;
}

/* Estilos para el navi */
.navigation-container {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-size: 16px;
    font-weight: 400;
}

.left-navigation, .logo, .right-navigation {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 120px;
    height: 80px;
}

.navigation-container a,
.navigation-container a:visited,
.navigation-container a:active,
.navigation-container a:hover {
    text-decoration: none;
    color: inherit;
}

.navigation-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    gap: 2rem;
}

.navigation-container ul li {

}

.right-navigation button {
    width:300px;
    height: 40px;
    color: #000;
    font-size: 20px;

    border: none;
    border-radius: 8px;

}

/* Estilos para la imagen/video del header*/
.img-header-container {
    width: 100%;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-header-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Estilos para el contenedor del branding*/
.branding-container {
    width: 100%;
    height: 260px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F6E4E1;
    gap: 2rem;
}

.paragraph-container {
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-size: 24px;
    font-weight: 400;
}

.light-parag {
    color: #514F4F;
}

.hash-parag {
    margin-top: 16px;
    font-size: 16px;
}

.btn-container {
    width: 50%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container button {
    width:632px;
    height: 40px;
    font-size: 20px;

    border: none;
    border-radius: 8px;
}
